body    {
    display: flex;
    justify-content: center;
    background-color: rgb(113, 150, 151);
}

label {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: rgb(63, 63, 63);
}

label.active:hover {
    font-size: 2.05rem;
}

h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 3rem;
    padding-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 0%;
    text-decoration: underline;
    color: rgb(63, 63, 63);
}

button {
    font-family: 'Trebuchet MS';
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    padding: 0.8rem 1.3rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

#addNewTask {
    background-color: rgb(187, 189, 190);
    transition: all  200ms;
}

#addNewTask:hover {
    transform: translateY(-0.1rem);
    box-shadow: 3px 3px 3px white;
    color: white;
    cursor: pointer;
}

#deleteCompletedTasks {
    background-color: rgb(56, 56, 56);
    color: azure;
    margin-left: 1rem;
    transition: all  200ms;
}

#deleteCompletedTasks:hover {
    transform: translateY(-0.1rem);
    box-shadow: 3px 3px 3px rgb(37, 226, 226);
    color: rgb(37, 226, 226);
    cursor: pointer;
}

input[type=checkbox] {
    width: 1.3rem;
    height: 1.3rem;
    accent-color: rgb(243, 60, 60);
}

#list {
    border-radius: 1rem;
    min-height: 80%;
    margin-top: 2rem;
    margin-left: 2rem;
    background: url(images/paper.avif);
    background-size: cover;
    max-width: 800px;
}

#list div {
    padding-left: 3rem;
}

#list div:first-of-type {
    padding-top: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-height: 90vh;
}

.completedTasks {
    text-decoration: line-through rgb(243, 60, 60);
    color: rgba(0, 0, 0, 0.5);
}